/* Default styles to reset browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "sidebar main main"
        "sidebar main main"
        "footer footer footer";
}

/* Header */
.header {
    grid-area: header;
    background: rgb(226, 114, 114);
    padding: 40px;
    text-align: center;
}

/* Sidebar naviggation */
.sidebar {
    background: rgb(212, 164, 220);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-header {
    display: flex;
    gap: 20px;
}

/* Dynamically created projects */
.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Main Content */
#main {
    grid-area: main;
}

/* Footer */
.footer {
    grid-area: footer;
    background: rgb(226, 114, 114);
    padding: 40px;
    text-align: center;
}
