/* ------------ DEFAULT ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

/* ------------ HEADER ------------*/
.header {
    grid-area: header;
    background: rgb(226, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------ SIDEBAR ------------*/
.sidebar {
    background: rgb(212, 164, 220);
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

/* Top of sidebar */
.nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#nav-pending {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#pending-icon {
    width: 40px;
    height: 40px;
}

#nav-completed {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#completed-icon {
    width: 40px;
    height: 40px;
}

#nav-deleted {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#deleted-icon {
    width: 40px;
    height: 40px;
}

/* Bottom of sidebar */
.projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projects-header {
    display: flex;
    gap: 20px;
}

/* ------------ PROJECTS ------------*/
.project-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ------------ TODO / MAIN ------------*/
#main {
    grid-area: main;
    background: rgb(145, 177, 196);
}

/* ------------ FOOTER ------------*/
.footer {
    grid-area: footer;
    background: rgb(226, 114, 114);
    display: flex;
    align-items: center;
    justify-content: center;
}
