/* Default styles to reset browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header"
        "nav main main"
        "nav main main"
        "footer footer footer";
}

/* Header */
.header {
    grid-area: header;
    background: grey;
    padding: 40px;
    text-align: center;
}

/* Navigation */
.nav {
    grid-area: nav;
}

/* main */
#main {
    grid-area: main;
}

/* Footer */
.footer {
    grid-area: footer;
}
